RAILS_ENV=test
APP_HOST=example.com
APP_PROTOCOL=http
ACTIVE_STORAGE_SERVICE=test
OURAIRPORTS_AIRPORTS_SOURCE_URL=https://ourairports.com/data/airports.csv
OURAIRPORTS_COUNTRIES_SOURCE_URL=https://ourairports.com/data/countries.csv
CLDR_RELEASE=48.2.1
CLDR_TERRITORIES_SOURCE_URL_TEMPLATE=https://raw.githubusercontent.com/unicode-org/cldr-json/%{release}/cldr-json/cldr-localenames-full/main/%{locale}/territories.json
RAILS_MAX_THREADS=5
JOB_CONCURRENCY=1
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=routeprint_test
DB_QUEUE_NAME=routeprint_test_queue
