<p><%= t("auth.password_resets.mailer.greeting") %></p>

<p><%= t("auth.password_resets.mailer.instructions") %></p>

<p><%= link_to t("auth.password_resets.mailer.cta"), @reset_url %></p>

<p><%= t("auth.password_resets.mailer.ignore") %></p>
